        <div class="container">
	    	<header class="codrops-header">
				<h1 id="titulo">Quanto custa a corrida de TÁXI?</h1>	
			</header>
			<section>
				<form id="theForm" class="simform" autocomplete="off">
					
                    <% if(flash && flash.err) { %>
                        <% Object.keys(flash.err).forEach(function(error) { %>
                             <span class="final-message"><%- JSON.stringify(flash.err[error]) %></span>
                        <% }) %>
                    <% } else if(flash && flash.route) { %>
                        <% Object.keys(flash.route).forEach(function(route) { %>                            
                        <span class="final-message"><%- JSON.stringify(flash.route[value]) %></span>
                        <% }) %>
                    <% } else { %>
                    
                    <div class="simform-inner">
						<ol class="questions">
							<li>
								<span><label for="from">Onde você exatamente está?</label></span>
								<input id="from" name="from" type="text"/>
							</li>
							<li>
								<span><label for="to">Pretende chegar exatamente onde?</label></span>
								<input id="to" name="to" type="text"/>
							</li>
							<li>
								<span><label for="currency">Qual moeda para pagamento?</label></span>
                                <input id="currency" name="currency" list="currencies" type="text"/>
								<datalist id="currencies" name="currency">
                                    <option value="USD">Dólar Americano</option>
                                    <option value="CAD">Dólar Canadense</option>                                    
                                    <option value="EUR">Euro</option>
                                    <option value="CNY">Iuan</option>
                                    <option value="GBP">Libra Esterlina</option>                                     
                                    <option value="ARS">Peso Argentino</option>
                                    <option value="MXN">Peso Mexicano</option>                                    
                                    <option value="BRL">Real</option>
                                </datalist>
							</li>
	                           <input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</ol>
						<button class="submit" type="submit">Calcular</button>
						<div class="controls">
							<button class="next"></button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div><!-- / controls -->
					</div><!-- /simform-inner -->
                    
                    <span class="final-message"></span>
                    
                    <% } %>
                    
				</form><!-- /simform -->			
			</section>
		</div><!-- /container -->

		<script>
           $( document ).ready(function() {
                var theForm = document.getElementById( 'theForm' );

                new stepsForm( theForm, {
                    onSubmit : function( form ) {
                        
                        classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
                        
                        $.ajax({
                            type: "POST",
                            url: '/route/create',
                            data: $("#theForm").serialize(),
                            success: function(data){
                                var messageEl = theForm.querySelector( '.final-message' );
                                
                                messageEl.innerHTML = data.currency+data.value;
                                
                                $('#titulo').text("A corrida de TÁXI custa:");
                                
                                classie.addClass(messageEl, 'show');
                            },
                            dataType: 'json'
                        });
                        
                    }
                });
               
               
            });
		</script>
