        <div class="container">
	    	
			<header class="codrops-header">
				<h1>Quanto custa a corrida de TÁXI?</h1>	
			</header>
			<section>
				<a style="font-size:60px;" href="/route/new">Iniciar</a>	
			</section>
		</div>